<tr>
  <td
    class="main-block__container"
    style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6"
  >
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <h1 style="font-size: 24px; line-height: normal; font-weight: 700">
            Top news of the month in Octo Browser
          </h1>
        </td>
      </tr>
      <!-- End Text section -->

      <!-- Block 1 section -->
      <!-- Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img-wrap"
                style="border-radius: 17px"
              >
                <img
                  src="https://i.ibb.co/nQsyzTp/image-23-1-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 17px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <h2 style="font-size: 18px; line-height: 25px; font-weight: 700">
            How to create multiple Amazon accounts?
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p>
            Pros, risks, and secrets: how to avoid bans and manage your accounts
            via Octo Browser.
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >→</a
            >
          </p>
        </td>
      </tr>
      <!-- End Text section -->
      <!-- End Block 1 section -->

      <!-- Block 2 section -->
      <!-- Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img-wrap"
                style="border-radius: 17px"
              >
                <img
                  src="https://i.ibb.co/TPQvVxG/image-23-2-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 17px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <h2 style="font-size: 18px; line-height: 25px; font-weight: 700">
            How to create multiple accounts on eBay?
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p>
            What is the usefulness of multi-accounting on this marketplace, and
            how do manage accounts safely through Octo Browser
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >→</a
            >
          </p>
        </td>
      </tr>
      <!-- End Text section -->
      <!-- End Block 2 section -->

      <!-- Block 3 section -->
      <!-- Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img-wrap"
                style="border-radius: 17px"
              >
                <img
                  src="https://i.ibb.co/941PgBM/image-23-3-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 17px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <h2 style="font-size: 18px; line-height: 25px; font-weight: 700">
            Do you recommend Octo? Get paid for it!
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p>
            Participate in the referral program and receive 15% of each payment
            from your referrals. Read more about the conditions in the blog
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >→</a
            >
          </p>
        </td>
      </tr>
      <!-- End Text section -->
      <!-- End Block 3 section -->

      <!-- Block Offers 1 section -->
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <h2 style="font-size: 18px; line-height: 25px; font-weight: 700">
            Offers from our new partners:
          </h2>
        </td>
      </tr>
      <!-- Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 18px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img-wrap"
                style="border-radius: 6px"
              >
                <img
                  src="https://i.ibb.co/M61whzS/image-23-4.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 6px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <h3 style="font-size: 18px; line-height: 25px; font-weight: 700">
            LGaming
          </h3>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="color: #1890ff; font-weight: 700"
            >+7% to the first payment by promo code →</a
          >
        </td>
      </tr>
      <!-- End Text section -->
      <!-- End Block Offers 1 section -->

      <!-- Block Offers 2 section -->
      <!-- Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 18px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img-wrap"
                style="border-radius: 6px"
              >
                <img
                  src="https://i.ibb.co/3zGSr6g/image-23-5.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 6px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 10px">
          <h3 style="font-size: 18px; line-height: 25px; font-weight: 700">
            Kadam
          </h3>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="color: #1890ff; font-weight: 700"
            >For advertisers: 15% bonus on first deposit →</a
          >
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="color: #1890ff; font-weight: 700"
          >
            For publishers: 10% income growth guarantee for ten days if you
            switch to Kadam. Don't notice the difference? Kadam makes up for it
            →</a
          >
        </td>
      </tr>
      <!-- End Text section -->
      <!-- End Block Offers 2 section -->
    </table>
  </td>
</tr>
